<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layer.html :: head"></head>

<body class="d-flex flex-column min-vh-100">
    <div th:replace="layer.html :: header"></div>
    <div>
        <div class="container-fluid  px-5 py-5" style="width:600px;">
            <div class="card shadow ">
                <div class="card-header text-center py-4">
                    <h4>Register</h4>
                </div>
                <div class="card-body p-3 mb-5 bg-body rounded">
                    <form class="row g-3" id="order-details" method="post" action="/registration">
                        <h5 class="card-title py-2 text-center">User Details</h5>
                        <div class="col-12">
                            <input type="text" class="form-control" name="firstName" placeholder="First name"
                                   aria-label="First name">
                        </div>
                        <div class="col-12">
                            <input type="text" class="form-control" name="lastName" placeholder="Last name"
                                   aria-label="Last name">
                        </div>
                        <div class="col-md-12">
                            <input type="email" class="form-control" name="email" id="inputEmail4" placeholder="Email"
                                   aria-label="Email">
                        </div>
                        <div class="col-md-12">
                            <input type="tel" class="form-control" name="phone" id="inputPhone4"
                                   placeholder="Phone number" aria-label="Phonenumber">
                        </div>
                        <div class="col-md-12">
                            <input type="password" class="form-control" name="password" id="inputpssword"
                                   placeholder="Password" aria-label="Password">
                        </div>
                        <div class="text-center mt-5">
                            <button type="submit" class="btn btn-success mb-2">Registration</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="layer.html :: footer"></div>
</body>
</html>
